h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

nav li {
  font-size: 1.4rem;
  margin-left: 80px;
}

.banner h1 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  margin-top: 16vh;
  line-height: 6rem;
}

nav h1, p {
  color: #333;
}

@media screen and (max-width: 600px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 4.4rem;
  }
}
